/* You can add global styles to this file, and also import other style files */

body{
    background-image: url('https://cdn.pixabay.com/photo/2020/08/14/17/13/light-bulbs-5488573_960_720.jpg');
    background-size: cover;
    }