<div class="bg" style="height:100%">

<div class="container-fluid col-sm-12 col-lg-12" style="padding:0; margin-top: 10%">
  <div class="form-group row col-lg-11 col-lg-offset-1" style="margin:0; margin-left: 200px">
      <!-- <div class="row"> -->

    <div class="col-sm-4">
      <div class="vignette align-self-center">

        <div class="align-middle" id="titre">
          <span>CHICAGO CRIME DATA</span>
        </div>

        <div id="milieucrime">
        </div>

        <div id="piedDePage" class="text-center">

          <div>
            <button type="button" class="btn btn-warning">Launch</button>
          </div>

        </div>

      </div>

    </div>


    <!-- <div id="container"> -->
      <!-- <div class="row"> -->

        <div class="col-sm-4">
          <div class="vignette align-self-center">

            <div class="align-middle" id="titre">
              <span>LIEUX ARTISTIQUES</span>
            </div>

            <div id="milieuart">
            </div>

            <div id="piedDePage" class="text-center">

              <div>
                <button type="button" class="btn btn-warning">Launch</button>
              </div>

            </div>

          </div>

        </div>
      <!-- </div> -->

      <!-- <div id="container"> -->
        <!-- <div class="row"> -->

          <div class="col-sm-4">
            <div class="vignette align-self-center">

              <div class="align-middle" id="titre">
                <span>PARKING TOULOUSE</span>
              </div>

              <div id="milieupark">
              </div>

              <div id="piedDePage" class="text-center">

                <div>
                  <button type="button" class="btn btn-warning">Launch</button>
                </div>

              </div>

            </div>

          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
