@font-face {
    font-family: "Capture it";
    src: url("../../../fonts/font_capture_it.ttf");
  }


/* #container{
    padding:100px;
    background-color: lightgrey;

} */



.vignette{
    width: 300px;
    height: 400px;

    padding: 0px;

    border: 2px solid black;
}


#titre{
    width: 100%;
    height: 15%;
    border-bottom: 2px solid black;
padding:0px;
    text-align: center;
    font-family: "Capture it";
    font-size: 24px;
    color: lightgrey;
    background-color: #8A0707;

}

#milieucrime{
    width: 100%;
    height: 70%;


    background-repeat: no-repeat;
    background-size: 500px ;
    background-image: url("images/crime.jpg");
    
}

#milieuart{
    width: 100%;
    height: 70%;


    background-repeat: no-repeat;
    background-size: 500px ;
    background-image: url("images/art.jpg");
    background-size: contain;
    background-size: cover;
}
#milieupark{
    width: 100%;
    height: 70%;


    background-repeat: no-repeat;
    background-size: 500px ;
    background-image: url("images/parking3.jpg");
    background-position: center;
    background-size: contain;
    
}

#piedDePage{
    width: 100%;
    height: 15%;
    padding: 2%;
    border-top: 2px solid black;
    background-color: #8A0707;

}